html {
  font-family: arial;
  background: url(../imgs/background2.jpeg) no-repeat center center fixed;
  background-size: cover;
  height: 100%;
}

h1 {
    color: #C4D7F2;
}

.left, a {
    color: #F4FAFF;
}

.container {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: block;
}

#leftSide {
  width: 36%;
  padding-left: 5%;
  float: left;
}

#rightSide {
  width: 49%;
  padding-top: 1%;
  padding-left: 5%;
  padding-right: 5%;
  float: left;
  color: #7D869C;
}

#picture {
  width: auto;
}

section img {
  margin: 5% 15%;
  height: 140px;
}

.magic {
  font-size: 8px;
  color: #F4FAFF;
}

.correct {
  background-color: white;
  opacity: 0.85;
  font-family: arial;
  font-size: 20px;
  padding: 3%;
  color: #7CAE8A;
  letter-spacing: 0.5px;
  border: solid #7CAE8A;
  border-width: 1 1px;
}

.incorrect {
  background-color: white;
  opacity: 0.85;
  font-family: arial;
  font-size: 20px;
  padding: 3%;
  color: #E16036;
  letter-spacing: 0.5px;
  border: solid #E16036;
  border-width: 1 1px;
}

.neutral {
  background-color: white;
  opacity: 0.85;
  font-family: arial;
  font-size: 20px;
  padding: 3%;
  color: #7D869C;
  letter-spacing: 0.5px;
  border: solid #2A2B2A;
  border-width: 1 1px;
}

#inputBox, #submitButton {
  background-color: white;
  font-family: arial;
  font-size: 20px;
  padding: 2%;
  color: #7D869C;
  width: 46%;
}
